.card {
  max-width: 400px;
  background-color: var(--text-color);
  color: var(--bg-color);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 10px 4px var(--box-shadow-color);
}

.poster {
  width: 100%;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem 1rem;
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_container h3 {
  margin: 0;
  font-size: 1rem;
}

.info p {
  margin: 0;
  font-size: 0.75rem;
  color: var(--secondary-color);
}

.like_button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.like_button:hover {
  cursor: pointer;
}

.like_icon {
  fill: var(--like-color);
}

.overview {
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
