.tabsContainer {
  width: 100%;
  margin: 0 auto;
}

.tabList {
  display: flex;
}

.tabButton {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  color: var(--color-text-primary);
  border-bottom: 1px solid var(--color-text-secondary);
}

.tabButton:hover {
  background-color: var(--color-hover);
}

.tabButton.active {
  border-bottom: 2px solid var(--color-accent-primary);
  color: var(--color-accent-primary);
}

.tabContent {
  padding: 10px;
}
