.movies_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.load_more_btn {
  padding: 10px;
  background-color: var(--color-accent-primary);
  color: var(--color-background);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 40px;
}

@media (max-width: 768px) {
  .movies_list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }
}
