.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title_link {
  text-decoration: none;
}

.title {
  margin: 0;
  color: var(--color-accent-primary);
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
  }
}
