#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 1rem;
}

.fallback_loading {
  text-align: center;
  margin: 30px 0;
  color: var(--color-text-secondary);
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  #root {
    padding: 0;
  }
}
